

<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title *ngIf="!korisnik">Регистрација</mat-card-title>
        <mat-card-title *ngIf="korisnik">Ажурирање корисника</mat-card-title>
      </mat-card-header>
      <form class="example-form">
        <mat-card-content>

          <mat-form-field class="example-full-width">
            <input  matInput placeholder="Корисничко име" name="zahtev"[(ngModel)]="korisnik.username">
          </mat-form-field>
          <a class="error">{{greskaKorIme}}</a>

          <mat-form-field class="example-full-width">
            <input type="password" matInput placeholder="Лозинка" name="zahtev1" [(ngModel)]="korisnik.password">
          </mat-form-field>
          <a class="error">{{greskaLozinka}}</a>
          



          <mat-form-field class="example-full-width">
            <input matInput placeholder="Презиме и име" name="zahtev2" [(ngModel)]="korisnik.imePrezime">

          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Мејл" name="zahtev3" [(ngModel)]="korisnik.mejl">
          </mat-form-field>
          <a class="error">{{greskaMejl}}</a>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Адреса" name="zahtevv" [(ngModel)]=korisnik.adresa>
          </mat-form-field>
          
        
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Телефон" name="zahtev4" [(ngModel)]=korisnik.telefon>
          </mat-form-field>
          <a class="error">{{greskaTelefon}}</a>


     
        </mat-card-content> <img src={{korisnik.slika}} class="logo">
        <input type="file" (change)="onFileSelected($event)"  class="btn-block">
         <br>
         <br>
        
        <button mat-stroked-button color="accent" class="btn-block" (click)="azurirajK()" *ngIf="korisnik">Ажурирај</button>
        
        
      </form>
      <a class="error">{{greska}}</a>
    </mat-card>
  </div>


  