
.v{
 
    margin: 0px;
    padding:  250px  450px 50px;
    font-size: xx-large;
    color: red;
    text-align: center;
    
  
}


.box {
    position: relative;
    top: 0;
    opacity: 1;
    float: left;
   /* padding: 60px 50px 40px 50px;*/

    padding:  40px 550px 50px 60px;
    margin: 20px 250px;
    width: 100%;
    background: #fff;
    border-radius: 18px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    z-index: 5;
    max-width: 150px;
  }

  .naziv{
    font-size: 25px;
    margin: 25px 20px;
    padding:  25x 20px 7px 10px;
    color: black;
    width: 100%;
    position: relative;
    
}

.autor{
    font-size: 15px;
    margin: 10px 10px;
    padding:  10px 25px 15px 20px;
    color: gray;
   
  
  
}
.n{
    font-size: 20px;

}
.m{
    background-color: gainsboro;
}
.f{
    font-size: 15px;
    color: #0275d8;
   
}
