<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Ажурирање књиге</mat-card-title>
      </mat-card-header>
      <form class="example-form">
        <mat-card-content>
        

          <mat-form-field class="example-full-width">
            <input  matInput placeholder="Назив" name="knjiga5"  [(ngModel)]="knjiga.naziv" class="a">
            
          </mat-form-field>
          <a class="error"></a>

          <mat-form-field class="example-full-width">
            <input  matInput placeholder="Аутор" name="knjiga4"  [(ngModel)]="knjiga.autor" class="a">
          </mat-form-field>
         
          <a class="error"></a>
          
        
          <mat-form-field class="example-full-width">
           <!-- <input  matInput placeholder="Жанр" name="knjiga3"  [(ngModel)]="knjiga.zanr" class="a" >-->
           <mat-label class="a">Жанр</mat-label >
          <mat-select class="a" placeholder="participants"[(value)]="o"  [(value)]="knjiga.zanr"  multiple  >
           
            <mat-option [disabled]="knjiga.zanr.length>=3 && sp('драма')" value="драма" class="a"> Драма</mat-option>
              <mat-option [disabled]="knjiga.zanr.length>=3 && sp('комедија')" value="комедија" class="a" >Комедија</mat-option>
              <mat-option [disabled]="knjiga.zanr.length>=3 && sp('реализам')" value="реализам" class="a">Реализам</mat-option>
              <mat-option [disabled]="knjiga.zanr.length>=3 && sp('класик')" value="класик" class="a">Класик</mat-option>
              <mat-option [disabled]="knjiga.zanr.length>=3 && sp('домаћа')" value="домаћа" class="a"> Домаћа</mat-option>
              <mat-option [disabled]="knjiga.zanr.length>=3 && sp('страна')" value="страна" class="a" >Страна</mat-option>
            </mat-select>
          </mat-form-field>
          <a class="error"></a>


          <mat-form-field class="example-full-width">
            <input matInput placeholder="Издавач" name="knjiga2"  [(ngModel)]="knjiga.izdavac" class="a" >

          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Година издавања" name="knjigaа"  [(ngModel)]="knjiga.godinaIzdavanja"  class="a">
          </mat-form-field>
          <a class="error">{{greskaGod}}</a>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Језик"  name="knjiga" [(ngModel)]="knjiga.jezik" class="a">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Број књига"  name="knjiga22" [(ngModel)]="knjiga.broj" class="a">
          </mat-form-field>
          
        
         


     
        </mat-card-content> <img src={{knjiga.slika}} class="logo">
       <input type="file" (change)="onFileSelected($event)"  class="btn-block">
        <br>
        <br>
        
        <button mat-stroked-button color="accent" class="btn-block" (click)="azuriraj()" >Ажурирај</button>
        
      </form>
      <a class="error">{{greska}}</a>
    </mat-card>
  </div>


  