/* You can add global styles to this file, and also import other style files */

body { margin: 0; 
    font-family: Arial, Helvetica, sans-serif;
    background-color:antiquewhite
    }
html, body { height: 100%; }
body { margin: 50; font-family: Roboto, "Helvetica Neue", sans-serif; }
th{
    font-weight: normal;
}