

<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title *ngIf="!korisnik">Захтев</mat-card-title>
      
      </mat-card-header>
      <form class="example-form">
        <mat-card-content>

          <mat-form-field class="example-full-width">
            <input  matInput placeholder="Корисничко име" name="zahtev"[(ngModel)]="zahtev.korIme">
          </mat-form-field>
          <a class="error">{{greskaKorIme}}</a>

          <mat-form-field class="example-full-width">
            <input type="password" matInput placeholder="Лозинка" name="zahtev1" [(ngModel)]="zahtev.lozinka">
          </mat-form-field>
          <a class="error">{{greskaLozinka}}</a>
          



          <mat-form-field class="example-full-width">
            <input matInput placeholder="Презиме и име" name="zahtev2" [(ngModel)]="zahtev.imePrezime">

          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Мејл" name="zahtev3" [(ngModel)]="zahtev.mejl">
          </mat-form-field>
          <a class="error">{{greskaMejl}}</a>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Адреса" name="zahtevv" [(ngModel)]=zahtev.adresa>
          </mat-form-field>
          
        
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Телефон" name="zahtev4" [(ngModel)]=zahtev.telefon>
          </mat-form-field>
          <a class="error">{{greskaTelefon}}</a>


     
        </mat-card-content> <img src={{zahtev.slika}} class="logo">
        <input type="file" (change)="onFileSelected($event)"  class="btn-block">
         <br>
         <br>
        
        <button mat-stroked-button color="accent" class="btn-block" (click)="azuriraj()">Потврди</button>
        <button mat-stroked-button color="accent" class="btn-block" (click)="obrisi()">Одбиј</button>
        
        
      </form>
      <a class="error">{{greska}}</a>
    </mat-card>
  </div>


  